$tablet: 768px;
$desktop: 1120px;

$font: 'TT Lakes', sans-serif;
$regular: 400;
$medium: 500;
$bold: 700;
$font-size-text: 14px;
$font-size-btn: 16px;
$uppercase: uppercase;

$text-color-1: #1b1c21;
$text-color-2: #7e7e82;

$background-1: #f8f8f8;
$background-2: #ffffff;
$border-color: #b8ffec;
$highlight: #41f6d7;
$btn-pink: #ff3e79;

$padding-mobile: 16px;
$padding-tablet: 24px;
$padding-desktop: 35px;

$title-gradient: linear-gradient(-270deg, #f8f8f8 0%, #ffffff 98.61%);
$border-1: 1px solid #b8ffec;
$border-2: 1px solid #eaeaea;
