.button,
.repair,
.checkstatus,
.button__call,
.button__chat,
.button__back {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $btn-pink;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-shrink: 0;
  position: relative;
}

.repair-1120,
.checkstatus-1120 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $btn-pink;
  border: none;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-shrink: 0;
  position: relative;
  margin-right: 50px;
}

.menu__burger {
  @extend .button;
  position: relative;

  &-line,
  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 11px;
    height: 2px;
    background-color: $color-white;
    border-radius: 1px;
  }

  &-line {
    top: 19px;
    width: 10px;
  }

  &::before {
    top: 12px;
    width: 18px;
  }

  &::after {
    top: 26px;
    width: 14px;
  }
}

@media (min-width: $tablet) {
  .button__call,
  .button__back {
    display: flex;
  }

  .button__chat img {
    width: 20px;
    height: 20px;
    display: block;
  }
  // Скрываем лишние кнопки на мобильных
  @media (max-width: 767px) {
    .button__call,
    .repair,
    .checkstatus {
      display: none;
    }
  }
  @media (min-width: 1120px) {
    .repair-1120,
    .checkstatus-1120 {
      left: 30px;
    }
  }
}
