.content {
  margin-top: 24px;

  &__text {
    margin: 0 16px;
    display: flex;
    flex-direction: column;
  }

  &__desktop,
  &__1120 {
    display: none;
  }

  .readmore {
    display: none;

    &:checked ~ .content__desktop,
    &:checked ~ .content__1120 {
      display: block;
    }
  }

  .readmore__readmoremb {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    margin-top: 10px;
  }

  .picture__copy {
    width: 100%;
    height: auto;
    margin: 16px 0 35px 0;
    display: block;
  }
}

@media (min-width: $tablet) {
  .content {
    display: flex;
    gap: 24px;
    padding: 0 24px;
    align-items: flex-start;

    &__text {
      display: flex;
      flex-direction: column;
    }

    .readmore {
      margin-top: 16px;
    }

    .readmore__readmoremb {
      order: 1;
    }

    .content__desktop {
      display: block;
      margin-top: 16px;
    }

    .content__1120 {
      display: none;
    }

    .picture__copy {
      width: 360px;
      height: 208px;
      border-radius: 8px;
      margin: 0;
    }
  }
}

@media (min-width: $desktop) {
  .content {
    &__text {
      display: flex;
      flex-direction: column;
    }

    .readmore__readmoremb {
      order: 10;
      margin-top: 16px;
    }

    .content__desktop,
    .content__1120 {
      display: block;
    }

    .picture__copy {
      width: 531px;
      height: 307px;
    }
  }
}
